data/timetable.dtd

<?xml version='1.0' encoding='UTF-8'?>


<!ELEMENT courses (courseslot)*>
<!ELEMENT timeslots (timeslot)*>

<!ELEMENT courseslot (booking)*>
<!ELEMENT timeslot (booking)*>
<!ATTLIST courseslot
    code CDATA #IMPLIED
  >

<!ATTLIST timeslot
    code CDATA #IMPLIED
  >

<!ELEMENT booking (day|start|end|building|room|type|instructor)*>

<!ELEMENT day (#PCDATA)>

<!ELEMENT start (#PCDATA)>

<!ELEMENT end (#PCDATA)>

<!ELEMENT building (#PCDATA)>

<!ELEMENT room (#PCDATA)>

<!ELEMENT type (#PCDATA)>

<!ELEMENT instructor (#PCDATA)>
